.wizard-big.wizard > .content {
    min-height: 520px;
}

.side {
	/* color : #FFFFFF; */
	font-size : 18px;
}

.my-blue{
    color: #3399FF;
}



.pull-right {
    float: right!important;
}

.add-project {
    display: block;
    float: none;
    margin-top: 0;
    position: absolute;
    top: 25px;
    right: 15px;
    padding: 0;
    text-align: right;
}

.project-alert {
    position: relative;
    padding: .75rem 1.25rem;
    /* margin-bottom: 1rem; */
    border: 1px solid transparent;
    border-radius: .25rem;
	max-width:600px;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.mt-10{
  margin-top:10px;
}
.mt-20{
  margin-top:20px;
}
.mt-30{
  margin-top:30px;
}
.mt-40{
  margin-top:40px;
}
.mt-50{
  margin-top:50px;
}
.mt-60{
  margin-top:60px;
}
.mt-70{
  margin-top:70px;
}


/*code pen fancy fields*/
.form-group {
  position:relative;  

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  font-size: 1.2em;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: 1.03em;
  color: #3399FF;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  
  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

/*back to top button css*/

button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,{
  outline: 0 !important;
}
button.back-to-top::before {
  content: "\f077";
  font-family: "FontAwesome";
  display: block;
  vertical-align: middle;
  margin: -5px 0 auto;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}



.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    /* background-color: #293846; */
	/* color: #3dffff; */
	
	    background-color:#202020; 
    	 color: #00ffbf;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a {
	
	    background-color:#202020; 
    	 color: #00ffbf;
}

.nav-header {
    padding: 33px 25px;
    background-color: #2f4050;
	background-image: url(pics/test1.jpg);
	
    background-color: hsla(0, 0%, 6%,0.3);
    background-blend-mode: overlay;
}

.rem{
	color: #FFFFFF;
	overflow: hidden;
	background: rgb(76, 76, 76);
 	 box-shadow: 0 0 20px 0px rgb(47, 47, 47),
				 0 0 20px 0px rgba(107, 104, 104, 0);
}


.gradbutton {
	width: 25%;
	color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s linear;
	background: linear-gradient(to left, rgb(11, 191, 160), rgb(108, 196, 115));
	margin-bottom: 12px;
	opacity: 1;
}

.gradbutton:hover{
	background: linear-gradient(to right, rgb(11, 191, 160), rgb(108, 196, 115));
	opacity: 0.9;
}